{% extends 'base.html' %}

{% block title %}
    PAGE_1
{% endblock title %}

{% block content %}
    <h2>1. Lista de passos para as primeiras criações e instalações:</h2></br>
    </p>
        1. Criar um diretório com seu nome para trabalhar o projeto;</br>
        2. Dentro dele abra o terminal e digite “sudo apt install virtualenv” para instalar a “virtualenv” caso não
        tenha;</br>
        3. Logo após digite “virtualenv -p python3 env” para criar uma MV(Máquina Virtual);</br>
            1. nomes padrões “env” ou “venv”;</br>
        4. Criada a MV, ative-a com o comando “source env/bin/activate”, assim você terá ela pronta para uso;</br>
            1. Ou o nome que você deu a MV, no caso acima “env”;</br>
        5. Depois você irá instalar o FLASK(mini framework), com este comando “pip install flask” dentro da env
        ativada;</br>
            1. Para conferir a instalação digite “pip freeze”;</br>
        6. E para desativar a env use o comando “deactivate”.</br>
    </p>
{% endblock content %}