{% extends 'base.html' %}

{% block title %}
    PAGE_5
{% endblock title %}

{% block content %}
       <h2>5. Browser – Banco de Dados:</h2>
    <p>

    1. Após a instalação do “sqlite3” e do “sqlitebrowser” com os comandos que você viu nos conteúdos 3.2.1 e 3.2.2,
        iremos a sua utilização;</br>
    2. Primeiramente abra o programa “DB Browser for SQLite” ao digitá-lo em “Atividades”. No programa aberto vá em
        “Novo banco de bados”, depois escolha um diretório pra salvá-lo, com um nome e a extensão ”.db”;
        1. Exemplo, “meuBanco.db”;</br>
        2. Visualizar (Anexo_2);</br>
    3.  Feito isso, abrirá uma tela na qual você irá defini um nome para sua tabela (Anexo_3);</br>
        1. exemplo (Anexo_4);</br>
    4. Depois você irá em “Adicionar campo”, que adicionará um atributo a tabela criada, na qual pode-se alterar o nome,
        tipo(interger, text, blob, real e numeric), além das opções Não nulo, PK(Primary Key), Al(automático) e
        U(Único);</br>
        1. Visualizar (Anexo_5);</br>
        2. Exemplo (Anexo_6);</br>
    5. Feito os campos, selecione a tabela criada (Anexo_7), e vá em “Navegar dados”, nessa área pode-se atribuir valores aos campus criados (Anexo_8);
        1. exemplo (Anexo_9);</br>
    </p>

{% endblock content %}