{% extends 'base.html' %}

{% block title %}
    PAGE_2
{% endblock title %}

{% block content %}
    <h2>2. Criação de uma página simples com o flask:</h2></br>
    <p>
    1. Abra um editor de texto, do próprio Linux ou um programa com os mesmos fins;</br>
    2. Agora você irá construir a estrutura da página com códigos em python, salvando o arquivo como o nome que quiser,
        com a extenção “.py”;</br>
        1. Padrão de nome -”app.py”;</br>
        2. Visualizar (Anexo_1);</br>
    3.  Feito isso, no terminal dentro da env, se você fez todo direito digite python3 e o nome do seu arquivo.py,
        ex: “python3 site.py”;</br>
    4. Como esse comando será gerado um link, com o botão esquerdo click nele e escolha a opção “abir link” e sua
        página logo será aberta.</br>
    </p>
{% endblock content %}